Document/html/*
Projects/uvProjecs/*
Build/*
*.dep
*.ewt
*.jlink
*.dni
*.dbgdt
*.wsdt
*.rar
*.zip
*.tmp
si/*
*.wspos
*.William
.svn
*.sublime-workspace
*.uvguix.*
*.crun
JLinkLog.txt
JLinkSettings.ini
tmp2.board
tmp.board
Projects/RTL8711/demo/EWARM/MiCOKit-3081
Projects/RTL8711/bootloader/EWARM/MiCOKit-3081
*.cspy.bat
settings/
.vscode
.metadata/
/build
.gdbinit
/MiCoder
.cproject
.project
.settings
